<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../Css/style.css">
    </head>
    <body>
        {{>header}}
        <br/>
        <img src="../Img/MsDhoni.jpg" alt="2011 Last Ball Image of MS Dhoni" class="portrait">
        <h1>
            About page dynamic 
        </h1>

        {{>footer}}
    </body>
</html>