<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../Css/style.css">
    </head>
    <body>
        {{>header}}
        {{Message}}
        {{>footer}}
    </body>
</html>
