<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../Css/style.css">
    </head>
    <body>
         {{>header}}
        <h1>
           Help page Dynamic 
        </h1>
        <h3>{{title}}</h3>
        {{>footer}}
    </body>
</html>